# Django настройки
SECRET_KEY=your_secret_key_here

# Настройки Celery и Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Интеграция с Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here